.Body-Col {
    background-color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 4vw;
}

.black-color{
    color: #000000bf;
}

.green-color {
    color: #4caf50db;
}

.Body-Block {
    border-bottom-color: #f5f5f52e;
    border-bottom-style: ridge;
    height: 10vw;
}

.Body-selectedBtn {
    background-color: #1a73e8;
    color: white
}

.Body-unSelectedBtn {
    background-color: white;
    color: #1a73e8
}

.pt-3{
    padding-top: 3%;
}